@{
    ViewData["Title"] = "My Project Brief";
}

<!DOCTYPE html>
<html>
<head>
    
    <link href=".../css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

<section>
    <h3>Company Info</h3>
    <table>
        <tr>
            <td>Company/Business Name:</td>
            <td>LK Foodies</td>
        </tr>
        <tr>
            <td>Company Description:</td>
            <td>LK Foodies will sell traditional SriLankan Food which will include various food menus where customers 
                can choose and order,online orders and delivery available.
            </td>
        </tr>
        <tr>
            <td>Group Members and Roles:</td>
            <td>
                <ul>
                    <li>Front-end Developer</li>
                    <li>Back-end Developer</li>
                    <li>Full Stack Developer-Bojitha Umagiliya</li>
                </ul>
            </td>
        </tr>
    </table>
</section>

<section>
    <h3>Proposal</h3>
    <p>
       LK Foodies is an online food restaurant website which offers traditional SriLankan food with an unique taste where customers can enjoy.
    </p>
  <tr>
            <td>Menu(not finalized)</td>
            <td>
                <ul>
                    <li>Chicken Kottu Roti</li>
                    <li>Cheese Kottu Roti</li>
                    <li>Chicken Fried Rice(SriLankan Style)</li>
                    <li>String Hoppers</li>
                </ul>
            </td>
        </tr>
      <tr>
            <td>What industry need you're fulfilling.</td>
            <td>
                <ul>
                    <li>As a SriLankan living in Toronto,ON I was not able to experience the taste of the real SriLankan style food,so with LK Foodies we will make our mission to offer authentic SriLankan style food to our customers with little bit of spiciness in our food.</li>
                    
                </ul>
            </td>
        </tr>
    <tr>
            <td> What roles you'll need for your users</td>
            <td>
                <ul>
                    <li>Admin</li>
                    <li>Customer</li>
                </ul>
            </td>
        </tr>
</section>

</body>
</html>

