
h1 {
  font-family: 'satoshi', sans-serif;
  color: white; 
  font-weight: 900;
}


body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
}


@media (min-width: 768px) {
  body {
      font-size: 16px;
  }
}


.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Ensure content stretches to the bottom of the page */
html {
  position: relative;
  min-height: 100%;
}

/* Add margin to the bottom of the body */
body {
  margin-bottom: 60px;
}

html, body {
  height: 100%;
}

body {
  background-image: url('../images/kotturoti.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.text-center {
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

img {
  max-width: 200px; 
  height: auto; 
  margin-top: 20px; 
}


.logo-image {
  max-width: 100px; 
  height: auto; 
  margin-right: 10px; 
}








